<div class="container" style="margin_top: 50px;">
    <div class="row">
        <p class="text-end"> Hola {{persona}} <a class="btn btn-danger" hrfe="/admin/login/logout">Cerrar sesion<i class="fas fa-sign-out-alt"></i></a></p>

    </div>

</div>